* {
    box-sizing: border-box;
}

i {
    border: 2px solid #333;
    font-size: 18px;
    padding: 0.5em 0.5em;
    margin: 0.5em 50% 0 0;
    display: block;
    font-weight: 400;
}

.iList {
    display: block;
    padding: 1em 0;
}

#contacts {
    font-size: 16px;
}

u,
b {
    display: inline-block;
    margin: 0 .5em;
}
